* {margin 0; padding 0;}
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #a8a8a8;
}
form{
  min-width: 760px; max-width: 1100px; margin:auto;
  text-align: center;
}
header{
  width:100%;
  margin: 10px 0 0;
  background: #fff;
  display: table;
}

header h1{
  //display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.menu ul{
  margin:4px 0 0 ;
  padding-left:0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 10px;
}
.menu li{
  list-style-type: none;
  float:left;
  padding: 10px 10px;
  position: relative;
}
.menu li a{
  display: block;
  color:#000;
  text-decoration: none;
}
.menu li ul {
  display: none;
  position:absolute;
  background-color: #aaa;
  left:0;
  top:100%;
  margin: 0;
}
.menu li li{
  float:none;
  border-top: 1px solid #fff;
}
.menu li:hover > ul{
  display: inline-block;
}
.menu * {margin:0; padding: 0;}


/*start of nav stuff

.menu a{
  display:block;
  color: #aaa;
  background-color: #eee;
  padding:.2em 1em;
  border-width:3px;
  border-color: transparent;
}
.menu a:hover{
  color: #fff;
  background-color: #aaa;
}
.menu a:active{
  background: #fff;
  color:#ccc;
}
.menu * {margin: 0; padding: 0;}
.menu ul {float: left;}
.menu li{
  float:left;
  list-style-type: none;
  position: relative;
}
.menu li a{
  display: block;
  border-right-style:solid;
  background-clip:padding-box;
  text-decoration: none;
}
.menu li:last-child a {border-right-style:none;}
.drop_menu li ul{display: none;}
/*Visual additions
.menu li ul {width:9em;}
.menu li li a{
  border-right-style:none;
  border-top-style:solid;
}
/*functional additions
.menu li ul{
  display: none;
  position:absolute;
  left: 0;
  top:100%;
}
.menu li li {
  float:none;
}
.menu li li ul{
  display: none;
}

.menu li:hover > ul{
  display: block;
}

end of nav stuff*/
section.homemain{
  margin:0;
  background-color: #fff;
  text-align: center;
  padding:0 10px 0 20px;
  vertical-align: middle;
}
section.dynamicsmain{
  margin:0;
  text-align: center;
  padding:0 10px 0 20px;
  vertical-align: middle;
}
.dynamicsmain div{
  display: inline-table;
  margin-left:20px;
  margin-right: 20px;
}
section img{
  display: table-cell;
  width:400px;
}

section.homemain{
  padding: 10px 0;
}
section.homemain h2{
  text-align: center;
}
section.staffmain{
  text-align: center;
}
section.rhythmmain{
  text-align: center;
  display: block;
}
section.rhythmmain div{
  display: inline-block;
  margin: 0 30px;
}

footer {
	margin-top: 10px;
	margin-bottom:;
	clear:both;
	background:#fff;
	text-align:center;
	padding: 1px;
  color:#000;
	}
.drag div{
display: table-cell;
//  border: 1px solid #fff;
}
.drag {
  margin-left: 33%;
  //margin-right: 35%;
}
.drop{

  margin-left:33%;
//  margin-right:35%;
}
.drop div{
display: table-cell;
  border: 1px solid #fff;
  width: 98px;
  text-align: center;
  vertical-align: middle;
}

button{
  font-size: 24px;
  background-color: #b7bec9
}
.prev_next{
  text-align: center;
}
.prev_next a{
  font-size: 24px;
  color: #000;
  background-color: #fff;
}
#slider{

}

.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
